@font-face {
    font-family: 'GomePixel';
    src: url('src/assets/fonts/GomePixel-ARJd7.otf') format('opentype');
}

body {
    margin: 0;
    font-family: 'GomePixel', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #eff5a0b1;
    border-radius: 10px;
    margin-top: 3vh;
    margin-left: 4vh;
    margin-right: 4vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60px;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-right: auto;
   
}






.navLinks {
    display:flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width:100%;
}

.navLinks a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    gap: 8px; 
    position: relative;
    color: transparent; /* Hide the original text */
    animation: showText 0s steps(1) 2s forwards;
}



.navLinks a::after {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    margin-left: 26px;
    animation: typing 2s steps(15), blink .75s step-end infinite, showBorder 0s steps(1) 2s forwards;
    color: black; /* Set the color for the pseudo-element text */
    transition: transform 5s ease-in-out;

}

.navLinks a:hover {
    transform: scale(1.2);
}

.connectWallet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #F5D1A0;
    color: #fff;
    border-radius: 5px;
}

.connectWallet:hover {
    background-color: #e1be8d;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
    
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

@keyframes showBorder {
    to {
        border-color: transparent;
    }
}

@keyframes showText {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
        color:  rgb(0, 0, 0); /* Color for the original text after typing animation */
    }

}

.navLinksSidebar {
    display: flex;
    /* Add other styles for the sidebar */
  }
  
.navLinksSidebar {
    
    position:fixed;
    top: 0;
    right: 0;
    height:100vh;
    width: 250px;
    z-index: 999;
    background-color:#eff5a0b1;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(3px);
    text-decoration: none;

}

.navLinksSidebar li {
    
    width:100%;
    margin-left: 55px;
    text-decoration: none;
    
}

.connectWalletside {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #F5D1A0;
    color: #fff;
    border-radius: 5px;
    width: 70%;
}

.connectWalletside:hover {
    background-color: #e1be8d;
}

.navLinksSidebar li {
    text-decoration: none;
    text-decoration: none;
    font-size: 18px;
    gap: 8px; 
    position: relative;
    color: transparent; /* Hide the original text */
   
}




