@font-face {
    font-family: 'GomePixel';
    src: url('src/assets/fonts/GomePixel-ARJd7.otf') format('opentype');
}

body {
    margin: 0;
    font-family: 'GomePixel', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #D1F9B7;
    border-radius: 10px;
    margin-top: 3vh;
    margin-left: 4vh;
    margin-right: 4vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-right: auto;
}

.navLinks {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navLinks a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
    position: relative;
}

.navLinks a::after {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    animation: typing 4s steps(22), blink .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.navLinks a:hover {
    color: #007BFF;
}

.connectWallet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
}

.connectWallet:hover {
    background-color: #0056b3;
    color: #fff;
}
