@font-face {
    font-family: 'GomePixel';
    src: url('src/assets/fonts/GomePixel-ARJd7.otf') format('opentype');
}

body {
    margin: 0;
    font-family: 'GomePixel', sans-serif;
}

.navbar {
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #eff5a0b1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: fixed;
    top: 2%;
    left: 2%;
    right: 2%;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-right: auto;
}

.logoLink {
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navLinks a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    gap: 8px; 
    position: relative;
    color: transparent; /* Hide the original text */
    animation: showText 0s steps(1) 2s forwards;
}

.navLinks a::after {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    margin-left: 26px;
    animation: typing 2s steps(15), blink .75s step-end infinite, showBorder 0s steps(1) 2s forwards;
    color: black; /* Set the color for the pseudo-element text */
    transition: transform 5s ease-in-out;
}

.navLinks a:hover {
    transform: scale(1.2);
}

.connectWallet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #F5D1A0;
    color: #fff;
    border-radius: 5px;
}

.connectWallet:hover {
    background-color: #e1be8d;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

@keyframes showBorder {
    to {
        border-color: transparent;
    }
}

@keyframes showText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        color: rgb(0, 0, 0); /* Color for the original text after typing animation */
    }
}

.menuIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    color: black; /* Set color of the menu icon to black */
}

@media (max-width: 650px) {
    .navLinks {
        backdrop-filter: blur(1px);
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #eff5a0b1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 2;
        align-items: center;
        height: 50vh;
        top: 95px; 
        border-radius: 10px;
    }

    .navLinks.showMenu {
        display: flex;
        justify-content: center;
        align-items: center; 
        animation-name: Entry;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    } 

    @keyframes Entry {
        0% {
            opacity: 0;
            transform: translateY(-50%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .menuIcon {
        display: block;
        justify-content: center;
    }

    .navLinks a {
        padding: 10px 20px;
        color: black; /* Color for the links in the menu */
        justify-content: center;
    }

    .connectWallet {
        width: 50vw;
        padding: 10px 20px;
        border-bottom: none;
        text-align: center; /* Center text */
    }

    .navLinks a::after, .navLinks.noTyping a::after {
        border: none;
    }

    .noTyping a {
        animation: none;
        color: black; /* Ensure the text is visible */
    }

    .noTyping a::after {
        content: none;
    }

    .navLinks a {
        cursor: default; /* Hide cursor */
    }
}
