.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modalBackground.open {
  opacity: 1;
  visibility: visible;
}

.modalContainer {
  width: 60%; /* Increased the width */
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  transform: translateY(-50px);
  min-width: 768px;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border: 20px solid;
  border-image: url('/src/assets/border.jpg');
  border-image-slice: 16 14 26 13;
 
}

.modalContainer.open {
  transform: translateY(0);
  opacity: 1;
}


.closeButton {
  position: absolute;
  top:0;
  right:-1px;
  display:flex;
  justify-content:end; /* Change to relative *//* Add /* Position from the right */ /* Override any previous left positioning */
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
  border: 2px solid rgb(226, 99, 60);
  background-color: #eff5a0;
  border-radius: 5px;

}

.content {
  background: rgba(90, 86, 86, 0.5); /* Green color with 50% transparency */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  height: 300px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 /* Added border-radius for smooth corners */
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: Add a subtle border for better visual separation */
}

.logoButton {
  background: white; /* Changed background color to white */
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  position: relative; /* Adjust positioning as needed */
  box-sizing: border-box;
  background-clip: padding-box;
  background-origin: border-box;
  border-radius: 10px;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.logoButton1 {
  background: white; /* Changed background color to white */
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  position: relative; /* Adjust positioning as needed */
  box-sizing: border-box;
  background-clip: padding-box;
  background-origin: border-box;
  border-radius: 10px;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.logoButton2 {
  background: black; /* Changed background color to white */
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  position: relative;/* Adjust positioning as needed */
  box-sizing: border-box;
  background-clip: padding-box;
  background-origin: border-box;
  border-radius: 10px;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.logoButton3 {
  background: #0052ff; /* Changed background color to white */
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  position: relative;/* Adjust positioning as needed */
  box-sizing: border-box;
  background-clip: padding-box;
  background-origin: border-box;
  border-radius: 10px;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.logoButton4{
  background: #3375bb; /* Changed background color to white */
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  position: relative;/* Adjust positioning as needed */
  box-sizing: border-box;
  background-clip: padding-box;
  background-origin: border-box;
  border-radius: 10px;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}
.logoButton5 {
  background: black; /* Changed background color to white */
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  position: relative; /* Adjust positioning as needed */
  box-sizing: border-box;
  background-clip: padding-box;
  background-origin: border-box;
  border-radius: 10px;
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}


.closeButton:hover {
  background-color: #cfcf63; /* Change background on hover */
  border: 2px solid rgb(185, 79, 47); /* Border color on hover */
}

.logo {
  width: 60px; /* Decreased width */
  height: 60px; /* Decreased height */
}

.rightside{
  flex: 1;
  right:-20px;
  background: rgba(255, 255, 255, 0.127); /* Glass-like */
  backdrop-filter: blur(10px);
  padding: 10px 10px;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.righttext{
  top:20px;
}

.leftside{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px; 
  flex: 1;
  height:100%;
  background: rgba(112, 107, 106, 0.682);  /* Opaque */
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
}

.hello:hover, .howtolink:hover{
  background-color: #0056b3;
}
.howtolink{
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.google{
  width: 120px; /* Decreased width */
  height: 60px;
}