* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.trade-container {
  background-color: rgb(100, 52, 25);
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-element {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: auto;
  width: 10em;
  height: 10em;
  border-radius: 100%;
}

.loader div {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  border-bottom: 0.2em solid grey;
  border-top: 0.2em solid grey;
  border-left: 0.2em solid aqua;
  border-right: 0.2em solid aqua;
  animation: spin 10s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
