html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hero-section {
  background-image: linear-gradient(#331f80, #100732);
  /* background-color: #461984; */
  height: 100vh; /* Ensures the hero-section takes the full viewport height */
  display: flex;

  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.scroll-arrow img {
  width: 100px; /* Increase width for larger arrow */
  height: auto;
  transition: transform 0.2s;
}

.scroll-arrow p {
  color: white;
  text-align: left;
  margin-top: 18rem;
  margin-left: 10rem;
  position: relative;
  z-index: 1; /* Ensure the text stays above other elements */
}

.news {
  position:relative;
  top:150px;
  left:70px;
}

.news h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color:white;
}

.news h1 .trusted {
  color: #ac9fe4; /* A lighter color for the word "TRUSTED" */
  font-size: 7rem;
}

.news p {
  position: relative;
  font-size: 2rem;
  margin-top: 0;
  color: #fff;
  left:10px;
}

.ecosystem-section {
  background-color: #fff;
  padding: 4rem 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.ecosystem-section h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
}



.feature1 {
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
  margin-left: 100px;
  margin-right: 100px;
}

.feature1 img {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.feature1 h3 {
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.feature1 p {
  font-size: 1.2rem;
}


/* Button container styling */
.button-container {
  position: absolute;
  bottom: 14rem;
  right: 17rem;
}

.custom-button {
  background-color: white;
  text-align: center;
  width: 192px;
  height: 56px;
  border-radius: 24px;
  position: relative;
  font-family: 'GomePixel', sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button .inner-div {
  background-color: #4CAF50; /* Green background */
  border-radius: 16px;
  height: 44px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 4px;
  top: 4px;
  transition: width 0.5s;
  z-index: 10;
}

.custom-button:hover .inner-div {
  width: 180px;
}

.custom-button svg {
  width: 25px;
  height: 25px;
}

.custom-button p {
  margin: 0;
  z-index: 20;
  position: relative;
  transition: opacity 0.5s;
  font-family: 'GomePixel', sans-serif; /* Ensure the font is applied */
}

.custom-button:hover p {
  opacity: 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
}
  
  .text-container {
    position: absolute;
    left: 80%;
    transform: translate(-50%, -50%);
    color: rgb(223, 96, 155);
    text-align: center;
    border-radius: 10px; /* Rounded corners */
    animation: fadeIn 2s ease-in-out;
    font-family: 'GomePixel', sans-serif;
    -webkit-text-stroke-width: 0.01mm;
    -webkit-text-stroke-color: rgb(168, 54, 99);
    width:20vw;
    height:50vh;
    
  }

  
  .text-container h2 {
    position: relative;
    font-size: 4rem;
    /* margin-bottom: 10px; */
  }
  
  .button-container {
    position: absolute;
    bottom: 14rem;
    right: 17rem;
  }
  
  .custom-button {
    background-color: white;
    text-align: center;
    top: 40px;
    
    width: 192px;
    height: 56px;
    border-radius: 24px;
    position: absolute;
    font-family: 'GomePixel', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .custom-button .inner-div {
    background-color: #d44985; /* Green background */
    border-radius: 16px;
    height: 44px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: width 0.5s;
    z-index: 10;
    
  }
  
  .custom-button:hover .inner-div {
    width: 180px;
  }
  
  .custom-button svg {
    width: 25px;
    height: 25px;
  }
  
  .custom-button p {
    margin: 0;
    z-index: 20;
    position: relative;
    transition: opacity 0.3s;
    font-family: 'GomePixel', sans-serif; /* Ensure the font is applied */
  }
  
  /* .custom-button:hover p {
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
  } */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  .swapCss{
    font-size: 4rem;
  }

  .home-container {
    position: relative;
    overflow: hidden; /* Ensure clouds are hidden when out of bounds */
  }
  
  .cloud {
    position: fixed;
    z-index: 200000;
    width: 200px;
    height: 100px;
    top:0;
    background-image: url('/src/assets/clouds.webp');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
  }
  
  .left-cloud {
    height: 200vh;
    width:200vh;
    left: -200px;
    animation-name: left-cloud-animation;
  }
  
  .right-cloud {
    height: 200vh;
    width:200vh;
    right: -200px;
    animation-name: right-cloud-animation;
  }
  
  @keyframes left-cloud-animation {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(300px);
      opacity: 1;
    }
  }
  
  @keyframes right-cloud-animation {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(-300px);
      opacity: 1;
    }
  }
  
  .left-cloud-exit {
    animation-name: left-cloud-exit-animation;
  }
  
  .right-cloud-exit {
    animation-name: right-cloud-exit-animation;
  }
  
  @keyframes left-cloud-exit-animation {
    0% {
      transform: translateX(300px);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(6000px);
      opacity: 0;
    }
  }
  
  @keyframes right-cloud-exit-animation {
    0% {
      transform: translateX(-300px);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(-6000px);
      opacity: 0;
    }
  }
  
/* Third GIF styling */
.third-gif {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1; /* Ensure the GIF is below other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-gif img {
  width: 100%; /* Ensure the GIF takes the full width */
  height: 100%; /* Ensure the GIF takes the full height */
}

/* Scroll arrow for the second section */
.scroll-arrow1 {
  position: absolute;
  bottom: 20px; /* Ensure the arrow is at the bottom of the second GIF */
  cursor: pointer;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 2s infinite;
}

.scroll-arrow1 img {
  width: 100px; /* Increase width for larger arrow */
  height: auto;
  transition: transform 0.2s;
}

.scroll-arrow1 p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'GomePixel', sans-serif;
  transition: transform 0.2s, color 0.2s;
}

.scroll-arrow1:hover img, .scroll-arrow1:hover p {
  transform: scale(1.2); /* Slightly enlarge the text and arrow on hover */
  color: #FFD700; /* Change text color on hover */
}

/* Footer styling */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Background color for the footer */
  text-align: center;
  padding: 20px 0;
}

.footer-container img {
  max-width: 100%;
  height: auto;
  display: block; 
}

@media (max-width:1025px) {
  .hero-section {
    background-image: linear-gradient(#331f80, #100732);
    /* background-color: #461984; */
     /* Ensures the hero-section takes the full viewport height */
    display: flex;
    overflow:hidden;
    position: static;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    min-width:735px;
    height:100vh;
  }
  .news {
    position:relative;
    top:150px;
    left:70px;
  }
  
  .news h1 {
    font-size: 2.9rem;
    margin-bottom: 1rem;
    color:white;
  }
  
  .news h1 .trusted {
    color: #ac9fe4; /* A lighter color for the word "TRUSTED" */
    font-size: 5rem;
  }
  
  .news p {
    position:relative;
    font-size: 1.2rem;
    margin-top: 0;
    color: #fff;
    left:10px;
  }

}

@media (max-width:735px) {
  .hero-section {
    background-image: linear-gradient(#331f80, #100732);
    /* background-color: #461984; */
     /* Ensures the hero-section takes the full viewport height */
    display: flex;
    overflow:hidden;
    position: static;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    min-width:735px;
    height:100vh;
  }
  .news {
    position:relative;
    top:150px;
    left:70px;
  }
  
  .news h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:white;
  }
  
  .news h1 .trusted {
    color: #ac9fe4; /* A lighter color for the word "TRUSTED" */
    font-size: 5rem;
  }
  
  .news p {
    position:relative;
    font-size: 1.2rem;
    margin-top: 0;
    color: #fff;
    left:10px;
  }

}

@media (max-width:580px) {
  .hero-section {
    background-image: linear-gradient(#331f80, #100732);
    /* background-color: #461984; */
    height: 100vh; /* Ensures the hero-section takes the full viewport height */
    display: flex;
    
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  }
  .news {
    position:absolute;
    top:150px;
    display: block;
    justify-content: center;
    align-content: center;
    left:5vw;
    
  }
  
  .news h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:white;
  }
  
  .news h1 .trusted {
    color: #ac9fe4; /* A lighter color for the word "TRUSTED" */
    font-size: 5rem;
  }
  
  .news p {
    position:relative;
    font-size: 1.2rem;
    margin-top: 0;
    color: #fff;
    left:10px;
  }

}

@media (max-width:500px) {
  .hero-section {
    background-image: linear-gradient(#331f80, #100732);
    /* background-color: #461984; */
    height: 100vh; /* Ensures the hero-section takes the full viewport height */
    display: flex;
    
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  }
  .news {
    position:absolute;
    top:150px;
    display: block;
    justify-content: center;
    align-content: end;
    text-align: center;
    left:5%;
    
  }
  
  .news h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color:white;
  }
  
  .news h1 .trusted {
    color: #ac9fe4; /* A lighter color for the word "TRUSTED" */
    font-size: 5rem;
  }
  
  .news p {
    position:relative;
    font-size: 1rem;
    margin-top: 0;
    color: #fff;
    left:10px;
  }

}

@media (max-width:730px){
  .eco-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:3.5%;
    width:100%;
  }
  
}


@media (max-width:430px){
  .eco-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:50%;
  }
  
}