/* src/index.css */
@font-face {
  font-family: 'GomePixel';
  src: url('./assets/fonts/GomePixel-ARJd7.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GomePixel', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Additional global styles can go here */
